/* Icon */
.icon {
  width: 70px;
  height: 70px;
  margin: 30px auto 0; 
}

.wrapper {
  display: flex; /* Use flexbox for the wrapper */
  justify-content: center; /* Distribute items with space around */
  align-items: center;
}

.cv {
  height: 840px;
  width: 600px;
  margin: 0 auto; 
  background-image: url(frame.png); 
  background-size: cover; 
  position: relative;
  text-align: center;
  flex: 1; 
}

.portfolio {
  height: 600px;
  width: 700px;
  margin: 0 auto;
  margin-top: 0%; 
}

.line {
  margin-top: 10px;
}

.footer {
  width: 100%;
  height: 60px;
  text-align: center
}

body {
  background-color: rgb(34, 33, 48);
}

hr {
  height: 15px;
  background-color: rgb(0, 0, 0);
}

p, h2 , li {
  color: blanchedalmond;
}

p {
  padding: 15px;
}

#pp {
  height: 75px;
  width: 75px;
  border-radius: 50%; 
  margin-top: 25px;
}

.tech , .exp {
  flex: 0 0 auto; /* Prevent flex-grow and flex-shrink, set to initial width */
  height: 500px;
  width: 355px;
  background-image: url(frame.png);
  background-size: cover;
  text-align: center;
}

.cv , .tech , .exp {
  background-color: rgb(47, 45, 65);
}

.tech, .cv, .exp {
  flex: 0 0 auto;
  margin: 30px; 
}

.wrapper2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  grid-gap: 15px; /* Gap between grid items */
}

.g1 , .g2 , .g3 , .g4 , .g5 , .g6 {
  background-color:  rgb(47, 45, 65);
  height: 300px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: black;
  box-shadow: 0 20px 30px;
}

#a {
  margin-top: 50px;
}

h2 {
  padding-top: 20px;
}

#gh , #ln {
  margin: 10px;
}